@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
* {
    margin: 0;
}
/* main section styling  */

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #5a5a5a;
}

h1,
h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #5a5a5a;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu {
    font-size: 1rem;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu,
#title {
    line-height: 70px;
}

#menu li {
    list-style-type: none;
    margin-right: 32px;
}

#menu a:hover {
    border-bottom: 1px solid #474747;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


/* hf image and fixed text link */


#hf-image {
    overflow: hidden;
    position: relative;
    height: 300px;
    background: url(../images/hf-image.png) center center;
}


#fixed-text {
    width: 250px;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(189, 209, 97, 0.356);
    bottom: 40px;
    right: 10px;
    position: fixed;
}

#fixed-text a {
    text-decoration: none;
    font-family: Lato, sans-serif;
    color: #5a5a5a;
    letter-spacing: 4px;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}

#fixed-text:hover {
    border: 1px solid #474747;
}

/*skills image section */

#skills {
    height: 450px;
}

#left-skills {
    padding-top: 32px;
    width: 33%;
    float: left;
}

#right-skills {
    padding-top: 32px;
    width: 33%;
    float: right;
}

#center-skills {
    width: 33%;
    margin: 0 auto;
    
}

hr {
    border-top: 1px solid #474747;
    width: 100%;
    margin: 5px;
}

.left-skills-pic {
    width: 60%;
    float: right;
    line-height: 24px;
    clear: both;
    margin-bottom: 50px;
    
}

.right-skills-pic {
    width: 60%;
    float: left;
    line-height: 24px;
    clear: both;
    margin-bottom: 50px;
}

.right-skills-pic h2 {
    text-align:left;
    
}
.right-skills-pic p {
    text-align:center;
}


/* #skill-list{
    list-style-type: none;
} */

#below-skills-pic {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
   margin-left:30%

    
}

#learn-skills {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

#skills-pic-background {
    position: relative;
    margin: 1em auto;
    width: 25em; height: 24em;
    border-radius: 1em/.5em;
    background: rgba(197, 235, 32, 0.356);
    
}

#skills-cover-pic {
    background: url(../images/hf-skills.png) no-repeat center center;
    height: 100%;
}

#info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0;
}

#info div {
    color: white;
    background-color: rgba(197, 235, 32, 0.356);
    padding: 20px 20px 20px 20px;
    text-align: center;
    border: 4px solid whitesmoke;
    box-sizing: border-box;
    flex: 1;
}

#info h2 {
    padding: 0 0 25px;
    color: black;
}

#wiki {
    font-size:6rem;
    color: #474747;
}

#briefcase {
    font-size:6rem;
    color:#474747;
}

/* contact page sign up form */

.join-up {
    padding:30px 30px 30px 30px;
}

.free-course {
    text-align: center;
    margin: 10px 0 40px 0;
    font-size: 1.5rem;
}

.form {
    font-size: 1rem;
    letter-spacing: 4px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-color:rgba(197, 235, 32, 0.356);
    border: 1px solid #474747;
    height:300px;
    
}

.inputs {
line-height: 50%;
margin:auto;

}

.input:hover {
    border-color:#474747;
}

/* footer */

footer {
    height:150px;
}

.networks {
    text-align:center;
}

.networks {
    display:inline;
}

.networks i {
font-size: 160%;
margin:1%;
padding:5%;
color:#474747;
}

#copyright {
    text-align: center;
}

/* incidents page */

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cata {
   border:2px;
    text-align: center;
    margin: 20px;
    font-size: 1.5rem; 
    
}

.incid {

    margin: 20px;
    font-size: 2rem;
}

.disasters {
    border:2px;
    text-align: center;
    margin: 20px;
    font-size: 1.5rem; 
}

p {
    border:2px;
    text-align: center;
    margin: 20px;
    font-size: 1.5rem; 
}

/* media Query */

@media screen and (max-width:1200px) {
    
    #learn-skills{
       height:auto;
    }

    #skills {
     padding: 32px 0;
     margin-left:32px;

    } 

    #left-skills, #right-skills {
    width:100%;
    display: flex;
    flex-direction: column;
    flex: auto;
    }

    #center-skills {
            display: none;
}

 .below-skills {
             display: none;
 }

}

/* medium screen sizes 950px and below */

@media screen and (max-width:320px) 

{

    #title {
        text-align: center;
       display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    #fixed-text 
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

         #center-skills {
            display: none;
}
        #menu {
             display: flex;
             margin-left:30px;
    
        } 
       
        .below-skills {
             display: none;
        }
       

        .incid {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
        }
         .disasters {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
          }

             #hf-image {
                margin-left:45px;
          }
  }







