@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
* {
    margin: 0;
}
body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: black;
}

h1,
h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu {
    font-size: 1rem;
    letter-spacing: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu,
#title {
    line-height: 70px;
}

#menu li {
    list-style-type: none;
    margin-right: 32px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


/* hf image and cover text */


#hf-image {
    overflow: hidden;
    position: relative;
    height: 300px;
    background: url(../images/hf-image.png) center center;
}


#fixed-text {
    width: 250px;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(209, 245, 46, 0.356);
    bottom: 40px;
    right: 10px;
    position: fixed;
}

#fixed-text a {
    text-decoration: none;
    font-family: Lato, sans-serif;
    color: #3a3a3a;
    letter-spacing: 4px;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}

#fixed-text:hover {
    border: 1px solid #3a3a3a;
}

/*skills image section */

#skills {
    height: 450px;
}

#left-skills {
    padding-top: 32px;
    width: 33%;
    float: left;
}

#right-skills {
    padding-top: 32px;
    width: 33%;
    float: right;
}

#center-skills {
    width: 33%;
    margin: 0 auto;
    
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-skills-pic {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-skills-pic {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-skills-pic h2 {
    text-align:center;
}
.right-skills-pic p {
    text-align:center;
}

 #below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.below-skills {
    width: 60%;
    line-height: 20px;
    text-align: center;
}

#below-skills-pic {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
   
}

#learn-skills {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

#skills-pic-background {
    position: relative;
    margin: 1em auto;
    width: 25em; height: 24em;
    border-radius: 1em/.5em;
    background: rgba(208, 245, 46, 0.959);
    
}

#skills-cover-pic {
    background: url(../images/hf-skills.png) no-repeat center center;
    height: 100%;
}

#info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0;
}

#info div {
    color: white;
    background-color: rgba(208, 245, 46, 0.959);
    padding: 20px 20px 20px 20px;
    text-align: center;
    border: 4px solid whitesmoke;
    box-sizing: border-box;
    flex: 1;
}

#info h2 {
    padding: 0 0 25px;
    color: black;
}

#wiki {
    font-size:6rem;
    color: whitesmoke;
}

#briefcase {
    font-size:6rem;
    color:whitesmoke;
}

/* contact page sign up form */

.join-up {
    padding:30px 30px 30px 30px;
}

.free-course {
    text-align: center;
    margin: 10px 0 40px 0;
    font-size: 1.5rem;
}

.form {
    font-size: 1rem;
    letter-spacing: 4px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-color:rgba(208, 245, 46, 0.959);
    border: 1px solid black;
    height:300px;
    
}

.inputs {
line-height: 50%;
margin:auto;

}

.input:hover {
    border-color:darkgray;
}

/* footer */

footer {
    height:150px;
}

.networks {
    text-align:center;
}

.networks {
    display:inline;
}

.networks i {
font-size: 160%;
margin:1%;
padding:5%;
color:#0f0f0f;
}

#copyright {
    text-align: center;
}

/* incidents page */

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cata {
    display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
}

.incid {

    margin: 20px;
    font-size: 2rem;
}

.disasters {
    border:2px;
    text-align: center;
    margin: 20px;
    font-size: 1.5rem; 
}

/* media Query */

@media screen and (max-width:1200px) {
    #learn-skills{
        width:65%;
        height:1200px;
        margin:auto;
    }
    #skills {
        padding: 32px 0;
        margin:0;
    }

    #left-skills, #right-skills {
        width:100%;
        display: flex;
    flex-direction: column;
    flex: auto;
    }
    #center-skills {
        clear:both;
        width:100%;
        float:left;
        padding:0;
        width:100%;
        display: flex;
    flex-direction: column;
    flex: auto;
    }
    hr {
        display:none;
    }
}

/* medium screen sizes 950px and below */

@media screen and (max-width:950px) {


    #title {
        text-align: center;
    }

    #fixed-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .left-skills-pic, .right-skills-pic .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }

        #center-skills {
            display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        #menu {
            display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        }
        .below-skills {
            width:100%;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        }
        .cata{
           text-align: center;
        }

        .incid {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
        }
    .disasters {
        display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 
    }
}


